/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 50px;
}

/* main menu */
.menu {
    list-style: none;
    background-color: #333;
    display: inline-block;
}

/* main items */
.menu > li {
    position: relative;
    display: inline-block;
    color: white;
    padding: 15px 25px;
    cursor: pointer;
}

/* submenu */
.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 180px;
    display: none;
}

/* submenu items */
.submenu li {
    padding: 12px 15px;
    color: #333;
}

/* hover effects */
.submenu li:hover {
    background-color: #eeeeee;
}

.menu li:hover .submenu {
    display: block;
}