body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    font-family: Arial, sans-serif;
}

button {
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
}